body {
  background-color: #222555;
  color: #ffaf11;
  font-family: "Gruppo", cursive;
  text-align: center;
}

.gameStatus,
.btn {
  color: #ffaf11;
  font-family: "Rubik Iso", cursive;
  font-size: 4rem;
}

table {
  margin: 5% auto 0;
  margin-left: 30%;
}

td {
  padding: 5px 5px;
}

button {
  border-width: 10px;
  border-radius: 20%;
  margin: 1rem 1rem;
  height: 200px;
  width: 200px;
}

#topDiv {
  margin: 4% auto 2%;
}

#red {
  background-color: red;
}

#green {
  background-color: green;
}

#blue {
  background-color: blue;
}

#yellow {
  background-color: yellow;
}

.red {
  border-top-right-radius: 20%;
}

.green {
  border-top-left-radius: 20%;
}

.blue {
  border-bottom-right-radius: 20%;
}

.yellow {
  border-bottom-left-radius: 20%;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

.gameOver {
  background-color: red;
}
